{% extends 'base.html.twig' %}

{% block stylesheets%}
<link href="{{ asset('css/security/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="formContainerRegister">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}


    {{ form_start(registrationForm) }}

        <h1>Créer un compte</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div>
        {{ form_row(registrationForm.agreeTerms,{'attr': {'class': 'terms'}}) }}
        </div>
        <button type="submit" class="btn">Créer un compte</button>
        <div class="center">
            <a href="/login">J'ai deja un compte</a>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
