{% extends 'base.html.twig' %}

{% block title %} {{ product.getProductName }} {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/product.css') }}"> {% endblock %}

{% block body %}
    <div class="content">
        <div class="return">
            <button type="cancel" onclick="window.location.href = '/products';"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg></button>
        </div>
        <div class="productImg">
            <img src="{{ asset('imgs/products/' ~ product.getImageURL()) }}" alt="">
        </div>
        <div class="productDescription">
            <h1>{{ product.getProductName() }}</h1>
            <p>{{ product.getDescription() }}</p>
            {% if stock ==0 %}
                <div class="infoProdAlert">
                    <p>La coque a été victime de son succès : plus aucun exemplaires restant 😓</p>
                </div>
            {% elseif stock <=10 %}
                <div class="infoProdAlert">
                    <p class="">Il ne reste plus que {{ stock }} exemplaires</p>
                </div>
                
            {% endif %}
            <div class="separator"></div>
            <h2>Modèle Téléphone</h2>
            <select name="phones" id="phones">
                <optgroup label="Samsung">
                    {% for phone in samsungPhone %}
                        <option value="{{ phone.getId() }}">{{ phone.getBrand() }} {{ phone.getModelName() }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Apple">
                    {% for phone in applePhone %}
                        <option value="{{ phone.getId() }}">{{ phone.getBrand() }} {{ phone.getModelName() }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <div class="separator"></div>
            <div class="circleCollectionElementContainer">
                <a class="circleCollectionElement" id="product-link" style="background-color: {{ product.getColor() }};"></a>
                {% for collecProd in collectionProducts %}
                    <a style="background-color: {{ collecProd.getColor() }};" href="/product/{{ collecProd.getId() }}" class="circleCollectionElement"></a>
                {% endfor %}
            </div>
            <div class="separator"></div>
            <div class="row deliveryRow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M48 0C21.5 0 0 21.5 0 48L0 368c0 26.5 21.5 48 48 48l16 0c0 53 43 96 96 96s96-43 96-96l128 0c0 53 43 96 96 96s96-43 96-96l32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64 0-32 0-18.7c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7L416 96l0-48c0-26.5-21.5-48-48-48L48 0zM416 160l50.7 0L544 237.3l0 18.7-128 0 0-96zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>            
                <p>Livraison prévue le : {{ "now"|date_modify("+14 days")|date("d/m/Y") }}</p>
            </div>

            <div class="separator"></div>
            <p class="price">{{ product.getUnitPrice }}€ TTC</p>
            <div class="separator"></div>
            <h2>Quantité</h2>
            <form action="{{path('add_cart')}}" method="post">
                <input type="number" id="quantity" name="quantity" min="1" max="{{ stock }}" value="1">
                <input type="hidden" name="productId" value="{{ product.id }}">
                <button type="submit" class="addToCart">Ajouter au panier</button>
            </form>
        </div>
    </div>
{% endblock %}