{% extends 'base.html.twig' %}

{% block title %}Nos Collections !{% endblock %}


{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/collection.css') }}"> {% endblock %}

{% block body %}
<div class="collectionContainerLogos">
    <div class="top">
    <h1>Decouvrez nos collections<h1>
    </div>
    <div class="collectCardContainer">
        {% for collection in pagination.items %}
        <div class="collectionCard">
            <a href="/products/search?search={{collection.collectionName}}"><img src="{{ asset('imgs/collabs/' ~ collection.collectionName ~ '.png') }}"></a>
            <a href="/products/search?search={{collection.collectionName}}"><div class="buttons">{{collection.collectionName}}</div></a>
        </div>
        {% endfor %}
        <div class="collectionCard">
            <a href="/products/"> <voirtout><point><svg xmlns="http://www.w3.org/2000/svg" height="50%" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></voirtout></a>
            <a href="/products/"><div class="buttons">Voir tous les produits</div></a>
        </div>
        
    </div>

    <div class="paginationContainer">
            {{ knp_pagination_render(pagination) }}
    </div>
</div>


{% endblock %}

